<div class="luta">
    <div class="win-condition">
      <input type="radio" name="radio" id="" />
      <span>KO</span>
      <input type="radio" name="radio" id="" />
    </div>

    <div class="win-condition">
      <input type="radio" name="radio" id="" />
      <span>TKO</span>
      <input type="radio" name="radio" id="" />
    </div>

    <div class="win-condition">
      <input type="radio" name="radio" id="" />
      <span>UD</span>
      <input type="radio" name="radio" id="" />
    </div>

    <div class="win-condition">
      <input type="radio" name="radio" id="" />
      <span>SD</span>
      <input type="radio" name="radio" id="" />
    </div>

    <div class="win-condition">
      <span>Draw</span>
      <input type="radio" name="radio" id="" />
    </div>

    <div class="win-condition">
      <span>Null</span>
      <input type="radio" name="radio" id="" />
    </div>

  </div>