* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Cores  */
  --black: #000;
  --white: #fff;

  /* Tamanhos  */
  --name-fighter-size: 1.25rem;
}

@import url(https://fonts.googleapis.com/css?family=Expletus+Sans:600);
/*==========SCALE-IN==========*/
@-webkit-keyframes scale-in {
     0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1); opacity: 1;}
}

@keyframes scale-in {
    0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1);  opacity: 1;}
}
/*==========ROLL-OUT==========*/
@-webkit-keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}
@keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}

main{
  width: 100%;
  overflow: hidden;
  /* font-family: 'Expletus Sans', cursive; */
}
.hero{
  width: 100%;
  max-width: 1440px;
  height: auto;
  text-align: center;
  margin: 0 auto;
  background: #392f28;
  position: relative; 
  color: #392f28;
}

.hero h1{
  font-size: 4.1em;
  margin: auto;
  position: absolute; 
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.hero p{
  font-size: 1.5em;
  margin: auto;
  position: absolute; 
  top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
   z-index: 1;
}
.hero img{
  width: 100%;
}

.hero h1, .hero p{
  -webkit-animation: scale-in 1.3s ease-out;
  -moz-animation: scale-in 1.3s  ease-out;
    animation: scale-in 1.3s ease-out; 
}


@media all and (max-width: 768px) {
  .hero{
    height: 50vw;
  }
  .bar{
    height: 26vw;
    top: 10vw;
  }
  .hero h1{
    font-size: 8vw;
    top: 13vw;
  }
  .hero p{
    font-size: 3vw;
    top: 27vw;
  }
 
}

body {
  margin: 0px;
  font-family: sans-serif;

  background-color: var(--black);
  
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
  z-index: 999;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.cta-container {
  color: #f5f5f5;
  padding: 40px;
  text-align: center;
}

.cta-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.cta-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.fight-call {
  z-index: -4;
  background-color: var(--white);
}

.card {
  /* width: 100%; */
  margin-bottom: 32px;
  background-color: rgba(255, 255, 255, 0.4);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  position: relative;
  z-index: -2;
}

.card {
  padding-bottom: 4rem;
}

.win-disclaimer {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: red;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  margin-top: 2rem;
}

/* Estilo para o modal */
.modal {
  display: block;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.hide-modal{
  display: none;
}

.modal-content {
  background-color: white;
  width: 60%;
  max-width: 400px;
  margin: auto;
  margin-top: 15%;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  font-size: 0.8rem;
}

/* Estilo para bloquear o scroll do body quando o modal estiver ativo */
body.modal-open {
  overflow: hidden;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #aaa;
  cursor: pointer;
}

.modal h2 {
  margin-bottom: 10px;
}

.modal p {
  font-size: 16px;
  margin-bottom: 10px;
}

.modal ul {
  list-style: none;
  padding: 0;
}

.modal li {
  margin-bottom: 8px;
}

.modal strong {
  font-weight: bold;
}

/* Mostrar o modal quando o link for clicado */
/* .win-disclaimer:focus + #winModal {
  display: block;
} */

.card {
  display: flex;
  justify-content: space-between;
}

.corner {
  position: relative;
  z-index: 1;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.fighter {
  height: 260px;
  width: calc(100vw / 2.4375);
  position: relative;
  overflow: hidden;

  justify-content: space-around;
  justify-items: center;
}

.left-corner {
  margin-left: -1.5rem;
}
.right-corner {
  margin-right: -1.5rem;
}

label .centered {
  display: grid;
  place-content: center;
}

.luta {
  max-width: 300px;
  gap: .5rem;
  padding: 2px;
  border: solid 2px;
  border-radius: 32px;
}

.win-condition {
  margin-bottom: 12px;
  display: grid;
  gap: 1px;
}

.win-condition label{
  font-weight: bold;
  font-size: 0.85rem !important;
  text-align: center;
}

.fighter-name {
  position: relative;
  color: var(--white);
  font-size: var(--name-fighter-size);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--name-fighter-size) + 0.75rem);
}

.fighter-name .highlight {
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: red;
  -moz-transform: skew(-45deg, 0deg);
  -webkit-transform: skew(-45deg, 0deg);
  -o-transform: skew(-45deg, 0deg);
  -ms-transform: skew(-45deg, 0deg);
  transform: skew(-45deg, 0deg);
  width: 10rem;
  height: calc(var(--name-fighter-size) + 0.75rem);
}

img {
  /* height: auto;
  width: 7.85rem; */
  max-width: 100%;
  max-height: 100%;
  /* transform: scale(1.2); */
  /* display: inline; */
}

/* Bolinha do radio dos lutadores
 */

/* Bolinhas dos radio do tipo de vitoria */
.control {
  font-family: arial, sans-serif;
  display: block;
  position: relative;
  /* padding-left: 30px; */
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control_indicator {
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 18px;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: undefinedpx;
}

.fighter-name .control_indicator {
  top: 4px;
  margin-top: 24px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: gold;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: gold;
}
.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control_indicator:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
}
.control input:checked ~ .control_indicator:after {
  display: block;
}
.control-radio .control_indicator {
  border-radius: 50%;
}

.control-radio .control_indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #ffffff;
  transition: background 250ms;
}

.fighter-name .control_indicator:after {
  left: -9px;
  width: 40px;
  background-color: gold;
  z-index: -1;
}

.control-radio input:disabled ~ .control_indicator:after {
  background: #7b7b7b;
}
.control-radio .control_indicator::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: gold;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 98;
  transform: scale(0);
}
@keyframes s-ripple {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0.01;
    transform: scale(1);
  }
}
@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
.control-radio input + .control_indicator::before {
  animation: s-ripple 250ms ease-out;
}
.control-radio input:checked + .control_indicator::before {
  animation-name: s-ripple-dup;
}

svg {
  width: 45px;
  height: auto;

  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.submit-bet {
  color: white;

}

/* Estilização do select */
select {
  appearance: none;
  background-color: #000;
  color: #fff;
  border: 2px solid #ff0000;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  text-align: center; /* Centraliza o texto horizontalmente */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath d='M0 0l6 6 6-6z' fill='%23ff0000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
}

/* Estilização das opções do select */
select option {
  background-color: #000;
  color: #fff;
}

select option:checked,
select option:hover {
  box-shadow: 0 0 10px 100px red inset;
}

/* Realce vermelho quando o select está focado */
select:focus {
  border-color: #ff0000;
  outline: none;
}


.bet-button {
  width: 100%;
  max-width: 320px;
  height: 98px;

  margin: 32px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  z-index: 0;
  
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
  color: white;
  /* position: absolute; */
  cursor: pointer;
  outline: none;
  background-color: #9dc967;  
  
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

}

.bet-button:hover {
  background-color: #8cac65;  
}






footer{
  background-color: #415aca;
  padding: 50px 0;
}
.container-footer{
  max-width: 1400px;
  padding: 0 4%;
  margin: auto;
}
.row-footer{
  display: flex;
  flex-wrap: wrap;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}
.footer-col ul{
  list-style: none;
}
.footer-col ul li{
  margin: 10px 0;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #cecdcd;
  padding-left: 10px;
}
.footer-col .medias-socias{
  margin-top: 30px;
}
.footer-col .medias-socias a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  transition: all 0.5s ease;
}
.footer-col .medias-socias a i{
  font-size: 20px;
}

.footer-col .medias-socias a:hover{
  color: #415aca;
  background-color: white;
}
.footer-col .form-sub input{
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid white;
  color: white;
  background-color: #415aca;
}
.footer-col .form-sub input::placeholder{
  color: white;
}
.footer-col .form-sub button{
  width: 100%;
  margin-top: 10px;
  padding: 10px; 
  font-size: 17px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #415aca;
  border-radius: 3px;
  font-weight: bold;
  background-color: white;        
}
/* Responsivo */
@media (max-width: 800px) {
  .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
}
@media (max-width:600px) {
  .footer-col{
      width: 100%;
  }
}